/Chapter01.class
/CountLongWords.class
/CreatingStreams.class
/OptionalTest.class
/CollectingResults.class
/CollectingIntoMaps.class
/CollectingIntoMaps$Person.class
/DownStreamCollectors.class
/DownStreamCollectors$City.class
/PrimitiveTypeStreams.class
/ParallelStreams.class
